<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>bake</title>
  </head>
  <body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
    <script>
    	CKEDITOR.replace('recipe',{ plugins:'wysiwygarea, toolbar, basicstyles, link'})
    </script>
  </body>
</html>
