<nav class="navbar">
  <div class="container-fluid">
  <ul class="navbar-left">
      <a href="/recipe/view"  class="navbar-link">Recipes</a>
      <a href="/index"  class="navbar-link">Dashboard</a>
      <a href="/auth/logout"  class="navbar-link">logout</a>
    </ul>
  </div>
</nav>
