<div class="recipe">
<p class="heading"><strong>{{recipes.title}}</strong></p>
<p><strong>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</strong></p>
<p><strong>{{{recipes.recipe}}}</strong><p>

</div>
